version: 5.3.4.{build}

image: Visual Studio 2017

skip_commits:
  files:
    - .travis.yml

environment:
  LUA_VERSION: "5.3.4"
  BUILD_DIR: "build"

init:
  - git config --global core.autocrlf input

build_script:
  - ps: Push-Location -Path msbuild
  - ps: Get-Location
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
  - msbuild /property:Platform=x64 /property:Configuration=Debug /verbosity:normal
  - msbuild /property:Platform=x64 /property:Configuration=Release /verbosity:normal
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars32.bat"
  - msbuild /property:Platform=x86 /property:Configuration=Debug /verbosity:normal
  - msbuild /property:Platform=x86 /property:Configuration=Release /verbosity:normal
  - ps: Write-Host "Successfully build lua-$env:LUA_VERSION"
  - ps: Pop-Location
  - ps: Get-Location

before_test:
  - ps: Push-Location -Path $env:BUILD_DIR
  - ps: Push-Location -Path lua
  - ps: Set-Location -Path x64
  - ps: Set-Location -Path Debug
  - ps: Get-Location
  - dir
  - ps: lua.exe -v
  - ps: Set-Location ..
  - ps: Set-Location -Path Release
  - ps: lua.exe -v
  - ps: Pop-Location
  - ps: Set-Location -Path x86
  - ps: Set-Location -Path Debug
  - ps: lua.exe -v
  - ps: Set-Location ..
  - ps: Set-Location -Path Release
  - ps: lua.exe -v
  - ps: Pop-Location
  - ps: Get-Location
  - ps: Write-Host "Simple interpreter version echoing test done..."

test_script:
  # install script TODO
  - ps: Write-Host "Successfully installed lua-$env:LUA_VERSION"
  - ps: Get-Command lua
  - lua -v
  - $env:TESTS="lua-$env:LUA_VERSION-tests"
  - ps: Set-Location -Path $env:TESTS
  - ps: Set-Location -Path libs
  - ps: New-Item -ItemType directory -Path P1
  - ps: Set-Location -Path ..
  - ps: Write-Host "Starting tests"
  #- sudo lua all.lua TODO
  - ps: Write-Host "Done testing"
