# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true


[{*.py,wscript}]
charset = utf-8
indent_style = space
indent_size = 4

[*.yml]
charset = utf-8
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
