# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[{*.py,wscript}]
charset = utf-8
indent_style = space
indent_size = 4

[*.rst]
charset = utf-8
indent_style = space

[*.md]
charset = utf-8
indent_style = space

[{*.yml,*.yaml,*.toml,*.json}]
charset = utf-8
indent_style = space
indent_size = 2

[*.lua]
indent_style = space
indent_size = 2
